.navbar-input {
  background-color: #ffffff;
  border: solid 0.5px #c4c2c2;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 8px;
  width: 300px;
  height: 35px;
}
.navbar-icon {
  height: 24px;
  margin-right: 44px;
}
.menu-selector {
  bottom: -22px;
  width: 55px;
  left: -16px;
  transition: left 0.5s ease-in-out;
}
.admin-logout-button {
  background-color: rgb(81 85 126);
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  cursor: pointer;
}
