html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  max-height: 100vh;
}

#root {
  height: 100vh;
  max-height: 100vh;
}
.app-container {
  height: 100%;
  max-height: fit-content;
  min-height: 100%;
  overflow-y: hidden;
}
