.home-content {
  right: 1200px;
  left: 280px;
  border-radius: 40px;
  scrollbar-width: none;
  transition: right 1s ease;
}
.left-container-home {
  width: 75%;
  height: fit-content;
}
.right-container-home {
  width: 25%;
}
.story-segment {
  height: fit-content;

  overflow-x: auto;
  scrollbar-width: 0px;
}

.post-container {
  width: 40%;

  height: fit-content;
  padding-bottom: 40px;
}

.own-profile {
  width: 110px;
  height: 110px;
}

.post-profile {
  width: 50px;
  height: 50px;
}
.post-home {
  height: 450px;
  min-height: 450px;
}
.post-home img {
  object-fit: contain;
}
.comments-overflow {
  scrollbar-width: none;
}
.add-comment {
  border: none;
}

.add-comment:focus {
  border: none;
  outline: none;
}

.follow-small-button {
  background-color: #512da8;
  color: #fff;
  font-size: 10px;
  padding: 5px 25px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  cursor: pointer;
}
.unfollow-small-button {
  color: #512da8;
  font-size: 10px;
  padding: 5px 25px;
  border: 1px solid #512da8;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  cursor: pointer;
}

.text-box {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;

  height: 30px;
  transition: all 0.2s ease-in-out;
}
